<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
              pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
    </Console>

    <RollingFile name="RollingFile"
                 fileName="./logs/helpdesk.log"
                 filePattern="./logs/$${date:yyyy-MM-dd}/library_%d{dd_MMMM_yyyy}_%i.log.gz">
      <PatternLayout>
        <pattern>%d %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
      <Policies>
        <!-- rollover on startup, daily and when the file reaches
            10 MegaBytes -->
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy
                size="100 MB" />
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- LOG everything at INFO level -->
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Root>

    <!-- LOG "com.*" at TRACE level -->
    <Logger name="com.sber.java13Spring.java13SpringSroject.helopdeskproject" level="error, info"></Logger>
  </Loggers>

</Configuration>
