<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Добавить задачу</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить задачу</h3>
  <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/tasks/add}" th:object="${taskForm}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
          <select class="form-select" name="type_id" id="type_id" required>
            <option selected value="default">Выберете тип задачи из списка</option>
            <select class="form-control" id="type">
              <option value="0">select option</option>
              <option th:each="type : ${type_id}" th:value="${type}" th:text="${type}"></option>
            </select>
          </select>
          <label for="type_id">Тип</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" name="priority_id" id="priority_id" required>
            <option selected value="default">Выберете жанр из списка</option>
            <select class="form-control" id="priority">
              <option value="0">select option</option>
              <option th:each="prior : ${priority}" th:value="${prior}" th:text="${prior}"></option>
            </select>
          </select>
          <label for="priority">Приоритет</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <!-- тут будет загрузка файла-->
    <div class="mt-3 form-floating">
      <input name="file" type="file" class="form-control form-control-sm" id="onlineCopyPath" placeholder="Дополнительные материалы" style="padding-top: 2rem;">
      <label for="onlineCopyPath">Дополнительные материалы</label>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="kab" type="number" class="form-control" id="kab" placeholder="Номер кабинета" value="1" required>
          <label for="kab">Номер кабинета</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <textarea name="description" type="text" class="form-control" id="description" placeholder="Описание"></textarea>
          <label for="description">Описание</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
