<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Заявки в Helpdesk</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<div layout:fragment="content">
        <div>
            <tr>
            <hr class="hr"/>
            <h3>Поиск задачи</h3>
                <td>
            <form method="POST" th:action="@{/tasks/search}" th:object="${taskSearchForm}">
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" name="type_id" id="type_id">
                                <option selected th:value="default">Выберете тип из списка</option>
                                <option class="task-link" th:href="'/tasks/' + ${task.getId()}"
                                        th:text="${task.getType_id()}"></option>
                            </select>
                            <input name="type_id" type="text" class="form-control" id="type_id" placeholder="Название книги">
                            <label for="type_id">Тип задачи</label>
                        </div>
<!--                    </div>-->
<!--                    <div class="col-md">-->
<!--                        <div class="form-floating">-->
<!--                            <select class="form-select" name="priority_id" id="priority_id">-->
<!--                                <option selected th:value="default">Выберете приоритет из списка</option>-->
<!--                                <option class="task-link" th:href="'/tasks/' + ${task.getId()}"-->
<!--                                        th:text="${task.getPriority_id()}"></option>-->
<!--                            </select>-->
<!--                            <input name="priority_id" type="text" class="form-control" id="priority_id" placeholder="ФИО автора">-->
<!--                            <label for="priority_id">Приоритет</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md">-->
<!--                        <div class="form-floating">-->
<!--                            <select class="form-select" name="status_id" id="status_id">-->
<!--                                <option selected th:value="null">Выберете статус из списка</option>-->
<!--                                <option class="task-link" th:href="'/tasks/' + ${task.getId()}"-->
<!--                                        th:text="${task.getStatus_id()}"></option>-->
<!--                            </select>-->
<!--                            <label for="status_id">Статус</label>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row g-2">
                        <button type="submit" class="btn btn-secondary">Найти заявку</button>
                    </div>
                </div>
                </td>
            </form>
            </tr>
        </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все заявки</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                   href="books/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить задачу</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                        <th scope="col">Статус</th>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Время закрытия</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td>
                        <a class="task-link" th:href="'/tasks/' + ${task.getId()}"
                           th:text="${task.getStatus_id()}">Тип задачи</a>
                    </td>
                    <td th:text="${task.getPriority_id()}"></td>-->
                    <td th:text="${task.getType_id()}"></td>
                    <td th:text="${task.getTime_clozed()}"></td>
                    <td th:text="${task.getComment()}"></td>
                    <td th:text="${task.getDescription()}"></td>
                    <td>
                            <ul>
    <!--        обращение к taskWithUsersDTO, получение объекта UserrDTO и запрос к полю фамилии.               -->
                                <li  th:each="users : ${task.getUserrs()}" th:text="${users.getSurname}"></li>
                            </ul>
                    </td>
                </tr>
                    </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
<!--        <div>-->
<!--            <nav aria-label="Pagination" th:if="${books.totalPages gt 0}">-->
<!--                <ul class="pagination justify-content-center font-weight-bold">-->
<!--                    <li class="page-item" th:classappend="${books.number eq 0} ? 'disabled'">-->
<!--                        <a class="page-link"-->
<!--                           th:href="@{/books?page={id}(id=${books.number lt 2 ? 1 : books.number})}"-->
<!--                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:classappend="${i eq books.number + 1} ? 'active'"-->
<!--                        th:each="i : ${#numbers.sequence( 1, books.totalPages, 1)}">-->
<!--                        <a class="page-link" th:href="@{/books?page={id}(id=${i})}" th:text="${i}"-->
<!--                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:classappend="${books.number eq books.totalPages - 1} ? 'disabled'">-->
<!--                        <a class="page-link"-->
<!--                           th:href="@{/books?page={id}(id=${books.number + 2})}"-->
<!--                           aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>



<!--    <div>-->
<!--        <hr class="hr"/>-->
<!--        <h3>Поиск задачи</h3>-->
<!--        <form method="POST" th:action="@{/tasks/search}" th:object="${taskSearchForm}">-->
<!--            <div class="mt-0 row g-2">-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="type_id" id="type_id">-->
<!--                            <option selected th:value="null">Выберете приоритет из списка</option>-->
<!--                            <option class="task-link" th:href="'/tasks/' + ${task.getId()}"-->
<!--                                    th:text="${task.getType_id()}"></option>-->
<!--                        </select>-->
<!--&lt;!&ndash;                        <input name="type_id" type="text" class="form-control" id="type_id" placeholder="Название книги">&ndash;&gt;-->
<!--                        <label for="type_id">Тип задачи</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="priority_id" id="priority_id">-->
<!--                            <option selected th:value="null">Выберете приоритет из списка</option>-->
<!--                            <option class="task-link" th:href="'/tasks/' + ${task.getId()}"-->
<!--                                    th:text="${task.getPriority_id()}"></option>-->
<!--                        </select>-->
<!--&lt;!&ndash;                        <input name="priority_id" type="text" class="form-control" id="priority_id" placeholder="ФИО автора">&ndash;&gt;-->
<!--                        <label for="priority_id">Приоритет</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="status_id" id="status_id">-->
<!--                            <option selected th:value="null">Выберете статус из списка</option>-->
<!--                            <option class="task-link" th:href="'/tasks/' + ${task.getId()}"-->
<!--                                    th:text="${task.getStatus_id()}"></option>-->
<!--                        </select>-->
<!--                        <label for="status_id">Статус</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row g-2">-->
<!--                    <button type="submit" class="btn btn-secondary">Найти заявку</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    -->
<!--    <hr class="mt-3 hr"/>-->
<!--<div class="mt-5">-->

<!--    <n1>Все заявки в Helpdesk</n1>-->

<!--    Область под строку с одной кнопкой-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <a href="tasks/add"-->
<!--                class="btn btn-secondary"-->
<!--                role="button"-->
<!--                style="float: right"-->
<!--                aria-disabled="true">Добавить задачу</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <table class="table">-->
<!--        Заголовок таблицы-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Статус</th>-->
<!--            <th scope="col">Приоритет</th>-->
<!--            <th scope="col">Тип</th>-->
<!--            <th scope="col">Время закрытия</th>-->
<!--            <th scope="col">Комментарий</th>-->
<!--            <th scope="col">Описание</th>-->
<!--            <th scope="col">Пользователь</th>-->
<!--            <th scope="col"></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        Тело таблицы-->
<!--        <tbody>-->
<!--        <tr th:each="task : ${tasks}">-->
<!--            <td>-->
<!--                <a class="task-link" th:href="'/tasks/' + ${task.getId()}"-->
<!--                th:text="${task.getStatus_id()}">Тип задачи</a>-->
<!--            </td>-->
<!--            <td th:text="${task.getPriority_id()}"></td>-->
<!--            <td th:text="${task.getType_id()}"></td>-->
<!--            <td th:text="${task.getTime_clozed()}"></td>-->
<!--            <td th:text="${task.getComment()}"></td>-->
<!--           <td th:text="${task.getDescription()}"></td>-->
<!--            <td>-->
<!--                <ul>-->
<!--&lt;!&ndash;        обращение к taskWithUsersDTO, получение объекта UserrDTO и запрос к полю фамилии.               &ndash;&gt;-->
<!--                    <li  th:each="users : ${task.getUserrs()}" th:text="${users.getSurname}"></li>-->
<!--                </ul>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->